.content {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;

  &__box {
    background-color: $primary-color;
    width: 25vw;
    margin: 0 1em;
    padding: 1em 2em;
    margin-top: auto;
    border-radius: 0.5em 0.5em 0 0;
    max-width: 25em;

    &:first-child {
      height: 50vh;
      background-color: $tertiary-color;
    }

    &:nth-child(2) {
      height: 55vh;
    }

    &:last-child {
      height: 60vh;
      margin-bottom: 10vh;
      border-radius: 0.5em;
      background-color: $quaternary-color;
    }

    &::after {
      content: "";
      height: 100vh;
      width: 3px;
      background-color: $primary-color;
      margin-right: 1em;
    }

    &::before {
      content: "";
      height: 5em;
      width: 1em;
      background-color: $primary-color;
      margin-top: -30vh;
      margin-right: 1em;
    }

    img {
      width: 8em;
      margin: 0 auto;
    }

    h4 {
      font-size: 1.5rem;
      color: $ft-white;
      margin-top: 1em;
    }

    p {
      margin-top: 1em;
      color: $ft-white;

      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px; /* fallback */
      max-height: 45px; /* fallback */
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  .carousel-root {
    height: 50%;
  }

  .carousel {
    width: 18vw !important;
    margin: 0 auto !important;
    height: 100%;

    .content__item-cr {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start;

      p {
        text-align: start;
      }
    }

    .control-dots {
      margin: 0 !important;
    }

    img {
      width: 8em !important;
    }
  }
}
