.content {
  display: flex;
  position: absolute;
  width: 80%;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 6vw;

  &__box {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: $primary-color, $alpha: 0.6);
    width: 25vw;
    margin: 0 1em;
    padding: 1em 2em;
    margin-top: auto;
    border-radius: 0.5em 0.5em 0 0;
    max-width: 25em;
    height: 45vh;

    &:first-child {
      background-color: rgba($color: $tertiary-color, $alpha: 0.6);
    }

    &:last-child {
      background-color: rgba($color: $quaternary-color, $alpha: 0.6);
    }

    img {
      width: 8em;
      margin: 0 auto;
    }

    h4 {
      font-size: 1.5rem;
      color: $ft-white;
      margin-top: 1em;
    }

    p {
      margin-top: 1em;
      color: $ft-white;
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  .carousel-root {
    height: 50%;
  }

  .carousel {
    margin: 0 auto !important;
    height: 100%;

    .content__item-cr {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start;

      p {
        text-align: start;
      }
    }

    .control-dots {
      margin: 0 !important;
    }
  }
}
