.testimonials {
  padding: 1em 6vw;
  overflow-x: hidden;

  &__testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1em 2em;
    border-radius: 0.4em;

    p {
      font-size: 1.4rem;
    }

    i {
      margin: 0.5em auto;
      font-size: 5rem;
      color: $primary-color;
    }
  }
}
